<div class="inline-block gradient text-white h-28 w-20 m-2 perspective-inner box-shadow rounded">
    <div (click)="turnCardFront($event)" class="front relative w-full h-full">
        <div class="center-abs-xy">
            <span class="text-sm">Find The Pairs</span>
            <p class="font-bold">||</p>
        </div>
        
    </div>
    <div (click)="turnCardBack($event)" class="back hidden relative w-full h-full light rounded">
        <div class="center-abs-xy">
            <span class="material-icons">
                {{icon}}
            </span>
        </div>
        
    </div>
</div>
