<div class="center-abs-xy h-full w-full">
    <div class="center-abs-xy rounded medium text-white font-bold text-center pb-5 border-2 border-red-300">
        <h3 class="block darker py-3">
            WARNING <span class="material-icons align-bottom ml-2">warning</span>
        </h3>
        <div class="px-6">
            <p class="m-6">All data from this round will be lost</p>
            <button class="block w-full font-bold py-3 my-3 rounded darkest hover-text-darkest hover-light transition-all duration-700">
                Understood
                <span class="material-icons align-bottom ml-2">
                    home
                </span>
            </button>
            <button class="block w-full font-bold py-3 dark my-3 rounded hover-text-darkest hover-light transition-all duration-700">
                Cancel
                <span class="material-icons align-bottom ml-2">
                    close
                </span>
            </button>
        </div>
    </div>
</div>
