
  <form class="grid place-items-center px-3 py-8">
    <div class="pb-6 light text-center rounded w-full box-shadow">
      <fieldset class="text-white">
        <legend
          class="font-bold block rounded-t p-2 w-full text-xl mb-4"
        >
          Sound <span class="material-icons align-middle">volume_down</span>
        </legend>
        <div class="dark w-1/3 inline-block m-auto rounded p-2 cursor-pointer">
          <label class="font-bold" for="sound-off">
            <span class="cursor-pointer">Off</span>
          </label>
          <input
            checked
            class="mx-2 cursor-pointer"
            type="radio"
            id="sound-off"
            name="sound"
            value="off"
          />
        </div>
        <div class="dark w-1/3 m-auto mx-3 inline-block rounded p-2 cursor-pointer">
          <label class="font-bold" for="sound-on ml-3 font-bold">
            <span class="cursor-pointer">On</span>
          </label>
          <input
            class="mx-2 cursor-pointer"
            type="radio"
            id="sound-on"
            name="sound"
            value="on"
          />
        </div>
      </fieldset>
    </div>
    <div class="m-3 pb-6 light text-center rounded w-full box-shadow">
      <label
        class="
          text-white
          font-bold
          mb-4
          p-2
          block
          w-full
          rounded-t
          text-xl
        "
        for="level"
        >Level <span class="material-icons align-middle">equalizer</span></label
      >
      <select
        class="
          font-bold
          block
          m-auto
          mt-3
          text-white
          dark
          rounded
          text-center
          p-2
          cursor-pointer
        "
        name="level"
        id="level"
      >
        <option class="font-bold" value="easy">Easy</option>
        <option class="font-bold" value="medium">Medium</option>
        <option class="font-bold" value="hard">Hard</option>
      </select>
    </div>
  </form>
