<footer class="grid grid-cols-12 text-center font-bold text-white rounded">
    <div class="dark col-span-12  grid place-items-center py-6">
        <div class="border-2 border-light rounded p-2 pt-0 box-shadow">
        <p class="text-xl"> 
            <span></span><span class="text-4xl font-black text-light">F</span>ind the
            <span class="text-4xl font-black text-light">P</span>airs
            <span class="text-3xl font-black text-light"> ||</span
            ><span class="material-icons align-middle text- ml-3">style</span
            >
        </p>
        
        </div>
        <span class="block font-normal mt-1">A game created by David Lidebrandt </span>
        <div>
        <a target="_BLANK" href="https://www.linkedin.com/in/david-lidebrandt-5842411b6/" class="inline"><i class="fab transparent fa-linkedin text-4xl box-shadow-2 text-light mx-2 hover-text-darkest hover:scale-125 transition-transform duration-700"></i></a>
        <a target="_BLANK" href="https://github.com/davidlidebrandt" class="inline"><i class="fab fa-github-square text-4xl mx-2 box-shadow-2 hover-text-darkest hover:scale-125 transition-transform duration-700"></i></a>
        </div>
        <div class="pt-4">
            <a href="https://www.freepik.com/"class="hover-text-light text-sm" target="_blank" rel="noopener noreferrer">Background vector from Freepik</a>
        </div>
       
    </div>
 
</footer>
