<footer class="grid grid-cols-12 gradient py-6 font-bold text-white rounded">
  <div
    class="col-span-10 col-start-2 md:col-span-8 md:col-start-4 lg:col-span-4 lg:col-start-5"
  >
    <h2 class="text-xl max-w-max border-light rounded box-shadow logo-bg p-1">
      <span></span><span class="text-4xl font-black text-light">F</span>ind the
      <span class="text-4xl font-black text-light">P</span>airs
      <span class="text-4xl font-black text-light"> ||</span>
    </h2>
    <p class="mt-4 text-sm italic">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium
      eligendi fuga, iure rem molestiae alias repellendus ipsum doloremque, ex
      totam maiores harum, magnam beatae deleniti non at dignissimos accusantium
      inventore.
    </p>
    <div class="mt-2 mb-4">
      <a
        target="_BLANK"
        href="https://www.linkedin.com/in/david-lidebrandt-5842411b6/"
        class="inline"
        ><i
          class="fab transparent fa-linkedin text-4xl text-white mr-2 hover-text-light hover:scale-125 transition-transform duration-700"
        ></i
      ></a>
      <a
        target="_BLANK"
        href="https://github.com/davidlidebrandt"
        class="inline"
        ><i
          class="fab fa-github-square text-4xl text-white mx-2 hover-text-light hover:scale-125 transition-transform duration-700"
        ></i
      ></a>
    </div>
    <div class="pt-4 underline">
      <a
        href="https://www.freepik.com/"
        class="hover-text-light text-sm"
        target="_blank"
        rel="noopener noreferrer"
        >Background vector from Freepik</a
      >
    </div>
  </div>
</footer>
