<footer class="grid grid-cols-12 text-center font-bold text-white rounded">
    <div class="dark col-span-12  grid place-items-center py-6">
        <p class="text-xl"> 
            <span></span><span class="text-4xl font-black text-light">F</span>ind the
            <span class="text-4xl font-black text-light">P</span>airs
            <span class="text-3xl"> ||</span
            ><span class="material-icons align-middle text- ml-3">style</span
            >
        </p>
        <p class="font-normal mt-1">A game created by David Lidebrandt </p>
        <div class="py-4 pb-5">
            <a target="_BLANK" href="https://www.linkedin.com/in/david-lidebrandt-5842411b6/" class=""><i class="fab fa-linkedin text-5xl text-light mx-2 hover-text-darker hover:scale-125 transition-transform duration-700"></i></a>
            <a target="_BLANK" href="https://github.com/davidlidebrandt"><i class="fab fa-github-square text-5xl mx-2 hover-text-darker hover:scale-125 transition-transform duration-700"></i></a>
        </div>
        <hr class="w-3/4 sm:w-2/4 md:w-1/4 border-white">
        <div class="pt-4">
            <a href="https://www.freepik.com/"class="hover-text-light text-sm" target="_blank" rel="noopener noreferrer">Background vector from Freepik</a>
        </div>
       
    </div>
 
</footer>
