<div
  [ngClass]="{ hidden: howToHidden}"
  class="
    relative
    rounded
    dark
    box-shadow-2
    min-h-[70vh]
  "
>
  <h3 class="font-bold text-center text-2xl text-white darker rounded-tl mb-8 p-3">
    How To Play
  </h3>

  <section id="how-to-text" class="h-[50vh] dark w-5/6 text-white m-auto rounded overflow-y-scroll px-2">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt soluta sed sint quas. Fuga inventore totam similique perferendis quaerat deleniti a assumenda accusamus quo cupiditate dolore natus, reprehenderit magni expedita?
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo necessitatibus optio enim soluta! Totam perferendis repudiandae modi inventore veritatis accusamus quam minima sunt optio expedita, nulla consequatur, voluptatibus, aliquam facilis.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod neque nisi autem quos? Inventore earum similique, facere consectetur, aliquid ex quae nesciunt, quis voluptatem quam distinctio sunt tempora! Labore, quia?</p>
  </section>

  <button
      (click)="closeHowClick()"
      class="text-white text-center font-bold rounded hover-text-darkest absolute bottom-1 right-2"
    >
        <span class="material-icons text-5xl">
            close
        </span>
    </button>
</div>
