<header id="main-header" class="w-full relative z-10">
  <div class="opacity-60 h-20 w-full absolute z-0 dark"></div>
  <section
    class="
      center-fixed-x
      absolute
      z-50
      font-bold
      text-xl
      rounded
      text-center
      mt-3
      sm:px-2
      text-white
    "
  >
    <h2 class="border-2 border-light rounded p-1 box-shadow-2 logo-bg">
      <span></span><span class="text-3xl font-black text-light">F</span>ind the
      <span class="text-3xl font-black text-light">P</span>airs
      <span class="text-3xl text-light font-black"> ||</span
      >
    </h2>
  </section>
</header>
