<header class="w-full rounded relative z-10">
  <div class="opacity-50 h-20 w-full absolute z-0 gradient rounded"></div>
  <h1
    class="
      center-fixed-x
      absolute
      w-content
      z-50
      font-bold
      text-xl
      rounded-b
      text-center
      p-1
      text-white
    "
  >
    <span></span><span class="text-2xl font-black">F</span>ind the
    <span class="text-2xl font-black">P</span>airs
    <span class="text-xl"> ||</span
    ><span class="material-icons align-middle text- ml-3">style</span
    ><p class="text-xs font-bold mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
  </h1>
</header>
