<header class="w-full relative z-10">
  <div class="opacity-60 h-20 w-full absolute z-0 light"></div>
  <section
    class="
      center-fixed-x
      absolute
      z-50
      font-bold
      text-xl
      rounded-b
      text-center
      mt-1
      sm:px-2
      text-white
      border-b
    "
  >
    <h2 class="">
      <span></span><span class="text-3xl font-black text-light">F</span>ind the
      <span class="text-3xl font-black text-light">P</span>airs
      <span class="text-xl"> ||</span
      ><span class="material-icons align-middle ml-3">style</span>
    </h2>
    <p class="text-xs font-normal">A game created by David Lidebrandt</p>
  </section>
</header>
