<div class="gradient rounded box-shadow-2 border-8 border-light">
  <div class="grid mx-2">
    <div class="text-center">
      <button
        [disabled]="logInShown"
        (click)="toggleLogInShown()"
        class="disabled:opacity-100 opacity-50 disabled:cursor-default text-base text-center text-white font-bold mb-4 px-2 mx-1 inline-block light rounded-b light uppercase"
      >
        Log In
      </button>
      <button
        [disabled]="!logInShown"
        (click)="toggleLogInShown()"
        class="disabled:opacity-100 opacity-50 disabled:cursor-default text-base text-center text-white font-bold mb-6 px-2 mx-1 inline-block rounded-b light uppercase"
      >
        Sign Up
      </button>
    </div>
    <div class="grid justify-items-center mb-6">
      <h2
        class="border-light rounded p-1 text-2xl box-shadow-2 logo-bg text-white font-bold w-max"
      >
        <span></span><span class="text-5xl font-black text-light">F</span>ind
        the <span class="text-4xl font-black text-light">P</span>airs
        <span class="text-4xl text-light font-black"> ||</span>
      </h2>
      <span class="italic text-white font-bold mt-1">A Memory Game</span>
    </div>
    <ng-template [ngIf]="logInShown">
      <form
        [formGroup]="logInForm"
        class="w-full text-left text-white font-bold"
        action="POST"
      >
        <div class="mb-6">
          <p class="text-center text-2xl text-white font-black">
            Log in to start playing
          </p>
          <p class="my-3 text-center text-white font-bold">
            No account?
            <button
              (click)="toggleLogInShown()"
              class="font-bold dark p-1 rounded hover-light hover-text-darkest transition-all duration-700"
            >
              Sign Up
            </button>  
          </p>
          <div class="text-center">
            Or
            <button class="bg-white text-dark rounded p-1 font-bold hover-light hover-text-darkest transition-all duration-700" (click)="login()">Log In With Google</button>
          </div>
        </div>
        <label class="block font-bold text-white" for="username"
          >Username</label
        >
        <input
          class="w-full rounded font-bold p-3 mb-3 light text-white box-shadow focus:outline-none focus:bg-white focus:text-black"
          id="logInUserName"
          type="text"
          formControlName="logInUserName"
        />
        <label class="block font-bold text-white" for="password"
          >Password</label
        >
        <input
          class="w-full rounded font-bold p-3 mb-3 light text-white box-shadow focus:outline-none focus:bg-white focus:text-black"
          id="logInPassword"
          type="password"
          formControlName="logInPassword"
        />
        <button
          (click)="logInWithEmailAndPassword(logInFormUserName.value, logInFormPassword.value)"
          [ngClass] = "{
            'hover-light hover-text-darkest': logInForm.valid
          }"
          [disabled]="!logInForm.valid"
          class="disabled:opacity-80 disabled:cursor-default w-full my-5 font-bold darkest box-shadow text-white py-4 rounded transition-all duration-700"
        >
          Log In
          <span class="material-icons align-bottom float-right mr-4">
            login
          </span>
        </button>
      </form>
    </ng-template>
    
    <ng-template [ngIf]="!logInShown">
      <form
        [formGroup]="signUpForm"
        class="w-full text-left text-white font-bold"
        action="POST"
      >
        <div class="mb-6">
          <p class="text-center text-2xl text-white font-black">
            Sign up to start playing
          </p>
          <p class="my-3 text-center text-white font-bold">
            Already signed up?
            <button
              (click)="toggleLogInShown()"
              class="dark p-1 font-bold rounded hover-light hover-text-darkest transition-all duration-700"
            >
              Log In
            </button>
          </p>
        </div>
        <label
        class="block font-bold text-white relative pb-1" for="password">
        <ng-template [ngIf]="userNameSignUpInputField.valid">
          <span class="material-icons align-middle text-green-400">
            check_circle
          </span>
        </ng-template>
        <ng-template [ngIf]="!userNameSignUpInputField.valid">
          <span
            [hidden] = "userNameSignUpInputField.untouched"
            [class.text-red-400]="userNameSignUpInputField.touched"
            class="material-icons align-middle">
            error
          </span>
        </ng-template>
        Username
        <div
          [ngClass]="{ 'opacity-0 hidden': signUpUserNameHelpText.hidden, 'text-light border-medium': userNameSignUpInputField.value === '', 'text-red-400 border-red-400': userNameSignUpInputField.value !== ''}"
          class="border-2 p-2 mx-1 w-4/6 darkest text-center block absolute -right-1 bottom-1/4 text-sm p-1 rounded-lg rounded-br-2xl rounded-tl-2xl box-shadow transition-all duration-700"
        >
          <p>{{ signUpUserNameHelpText.text }}</p>
          <span class="material-icons align-bottom inline-block">
            feedback
          </span>
        </div>
      </label>
        <input
          (ngModelChange)="inputFieldChanged(userNameSignUpInputField, signUpUserNameHelpText)"
          (focus)="toggleUsernameToolTip(false)"
          (focusout)="toggleUsernameToolTip(true)"
          class="light w-full rounded font-bold p-3 mb-3 text-white box-shadow focus:outline-none focus:bg-white focus:text-black"
          id="signUpUserName"
          type="text"
          formControlName="signUpUserName"
        />
        <label
        class="block font-bold text-white relative pb-1" for="password">
        <ng-template [ngIf]="passwordSignUpInputField.valid">
          <span class="material-icons align-middle text-green-400">
            check_circle
          </span>
        </ng-template>
        <ng-template [ngIf]="!passwordSignUpInputField.valid">
          <span
            [hidden] = "passwordSignUpInputField.untouched"
            [class.text-red-400]="passwordSignUpInputField.touched"
            class="material-icons align-middle">
            error
          </span>
        </ng-template>
        Repeat Password
        <div
          [ngClass]="{ 'opacity-0 hidden': signUpPasswordHelpText.hidden, 'text-light border-medium': passwordSignUpInputField.value === '', 'text-red-400 border-red-400': passwordSignUpInputField.value !== ''}"
          class="border-2 p-2 mx-1 w-4/6 darkest text-center block absolute -right-1 bottom-1/4 text-sm p-1 rounded-lg rounded-br-2xl rounded-tl-2xl box-shadow transition-all duration-700"
        >
          <p>{{ signUpPasswordHelpText.text }}</p>
          <span class="material-icons align-bottom inline-block">
            feedback
          </span>
        </div>
      </label>
        <input
          (ngModelChange)="inputFieldChanged(passwordSignUpInputField, signUpPasswordHelpText)"
          (focus)="togglePasswordToolTip(false)"
          (focusout)="togglePasswordToolTip(true)"
          class="light w-full rounded font-bold p-3 mb-3 text-white box-shadow focus:outline-none focus:bg-white focus:text-black"
          id="signUpPassword"
          type="password"
          formControlName="signUpPassword"
        />
        
        <label
          class="block font-bold text-white relative pb-1" for="password">
          <ng-template [ngIf]="passwordRepeatSignUpInputField.valid && passwordRepeatSignUpInputField.value === passwordSignUpInputField.value">
            <span class="material-icons align-middle text-green-400">
              check_circle
            </span>
          </ng-template>
          <ng-template [ngIf]="!passwordRepeatSignUpInputField.valid || passwordRepeatSignUpInputField.value !== passwordSignUpInputField.value">
            <span
              [hidden] = "passwordRepeatSignUpInputField.untouched"
              [class.text-red-400]="passwordRepeatSignUpInputField.touched"
              class="material-icons align-middle">
              error
            </span>
          </ng-template>
          Repeat Password
          <div
            [ngClass]="{ 'opacity-0 hidden': signUpUserRepeatPasswordHelpText.hidden, 'text-light border-medium': passwordRepeatSignUpInputField.value === '', 'text-red-400 border-red-400': passwordRepeatSignUpInputField.value !== ''}"
            class="border-2 p-2 mx-1 w-4/6 darkest text-center block absolute -right-1 bottom-1/4 text-sm p-1 rounded-lg rounded-br-2xl rounded-tl-2xl box-shadow transition-all duration-700"
          >
            <p>{{ signUpUserRepeatPasswordHelpText.text }}</p>
            <span class="material-icons align-bottom inline-block">
              feedback
            </span>
          </div>
        </label>
        <input
          (ngModelChange)="inputFieldChanged(passwordRepeatSignUpInputField, signUpUserRepeatPasswordHelpText)"
          (focus)="toggleRepeatPasswordToolTip(false)"
          (focusout)="toggleRepeatPasswordToolTip(true)"
          class="light w-full rounded font-bold p-3 mb-3 light text-white box-shadow focus:outline-none focus:bg-white focus:text-black"
          id="signupRepeatPassword"
          type="password"
          formControlName="signUpRepeatPassword"
        />
        <button
          (click)="signUp(userNameSignUpInputField.value, passwordRepeatSignUpInputField.value)"
          [disabled]="!signUpForm.valid"
          [ngClass] = "{
            'hover-light hover-text-darkest': signUpForm.valid
          }"
          class="disabled:opacity-80 disabled:cursor-default w-full my-5 font-bold darkest box-shadow text-white py-4 rounded transition-all duration-700"
        >
          Sign Up
          <span class="material-icons align-bottom float-right mr-4">
            login
          </span>
        </button>
      </form>
    </ng-template>
  </div>
</div>
