<div class="gradient rounded border-8 border-light">
    <div class="grid mx-2">
      <div class="text-center">
        <button disabled="true" class="text-lg text-center text-white font-bold mb-4 px-2 mx-1 inline-block light rounded-b text-light medium">Log In</button>
        <button class="text-lg text-center text-white font-bold mb-4 px-2 mx-1 inline-block rounded-b light">Sign Up</button>
      </div>
      <h2 class="border-2 border-light rounded p-1 box-shadow-2 logo-bg text-white font-bold w-max">
        <span></span><span class="text-3xl font-black text-light">F</span>ind the
        <span class="text-3xl font-black text-light">P</span>airs
        <span class="text-3xl text-light font-black"> ||</span
        >
      </h2>
      <form class="text-left text-white font-bold" action="POST"></form>
        <p class="text-white font-bold">Log in to start playing</p>
        <p class="text-white font-bold mb-2">No account? <a href="">Sign Up</a></p>
        <label class="font-bold text-white" for="username">Username</label>
        <input class="rounded font-bold p-3 mb-3 focus:outline-none focus:bg-blue-600 focus:text-white" id="username" type="text" [formControl]="userName">
        <label class="font-bold text-white" for="password">Password</label>
        <input class="rounded font-bold p-3 mb-3 focus:outline-none focus:bg-blue-600 focus:text-white" id="password" type="text" [formControl]="password">
        <button class="my-5 font-bold dark box-shadow text-white py-4 rounded">
            Log In
            <span class="material-icons align-bottom">
                login
            </span>
        </button>
    </div> 
</div>
