<ng-template [ngIf]="!game.getGame().lost">
<div
  id=""
  class="darkest logo-bg min-h-screen grid grid-cols-12 justify-items-center pb-8"
>
  <app-header class="col-span-12 w-full place-self-start"></app-header>
  <app-gamewindow
    [homeWarnClosed]="homeWarnClosed"
    (openReturnHomeModal)="
      toggleGameWarningModal(
        'If you return home all data from this round will be lost',
        'home',
        true
      )
    "
    (openRestartModal)="
      toggleGameWarningModal(
        'If your restart the game all data from this round will be lost',
        'restart_alt',
        false
      )
    "
    class="
      mx-2
      col-span-12
      md:col-span-10 md:col-start-2
      xl:col-span-8 xl:col-start-3  
    "
  ></app-gamewindow>
  <app-game-warning-modal
    [gameWarningClosed]="gameWarningClosed"
    [warningText]="warningText"
    [proceedIcon]="proceedIcon"
    [routerPathHome]="routerPathHome"
    (closeGameWarningModal)="toggleGameWarningModal()"
  ></app-game-warning-modal>
</div>
</ng-template>
<ng-template [ngIf]="game.getGame().lost">
  <div class="min-h-screen w-full light grid place-content-center">
    <div class="text-light rounded p-4 dark">
      <div class="font-bold text-2xl">
        Sorry the game was lost
      </div>
      <div class="text-center">
        <span class="material-icons text-4xl text-white">
        sentiment_very_dissatisfied
        </span>
      </div>
      <button class="m-auto text-white font-bold my-3 light rounded block w-full py-3">New Game</button>
      <button class="m-auto text-white font-bold my-3 light rounded block w-full py-2">Return Home</button>
    </div>
   
  </div>
</ng-template>
