<div
  id=""
  class="darkest logo-bg min-h-screen grid grid-cols-12 justify-items-center pb-8"
>
  <app-header class="col-span-12 w-full place-self-start"></app-header>
  <app-gamewindow
    [homeWarnClosed]="homeWarnClosed"
    (openReturnHomeModal)="
      toggleGameWarningModal(
        'If you return home all data from this round will be lost',
        'home',
        true
      )
    "
    (openRestartModal)="
      toggleGameWarningModal(
        'If your restart the game all data from this round will be lost',
        'restart_alt',
        false
      )
    "
    class="
      mx-2
      col-span-12
      md:col-span-10 md:col-start-2
      xl:col-span-8 xl:col-start-3  
    "
  ></app-gamewindow>
  <app-game-warning-modal
    [gameWarningClosed]="gameWarningClosed"
    [warningText]="warningText"
    [proceedIcon]="proceedIcon"
    [routerPathHome]="routerPathHome"
    (closeGameWarningModal)="toggleGameWarningModal()"
  ></app-game-warning-modal>
</div>
