<ng-template [ngIf]="!game.getGame().lost && !game.getGame().gameWon">
<div
  id=""
  class="darkest logo-bg min-h-screen grid grid-cols-12 justify-items-center pb-8"
>
  <app-header class="col-span-12 w-full place-self-start"></app-header>
  <app-gamewindow
    [homeWarnClosed]="homeWarnClosed"
    (openReturnHomeModal)="
      toggleGameWarningModal(
        'If you return home all data from this round will be lost',
        'home',
        warningConfirmedPaths.HOME
      )
    "
    (openRestartModal)="
      toggleGameWarningModal(
        'If your restart the game all data from this round will be lost',
        'restart_alt',
        warningConfirmedPaths.RESTART_GAME
      )
    "
    class="
      mx-2
      col-span-12
      md:col-span-10 md:col-start-2
      xl:col-span-8 xl:col-start-3  
    "
  ></app-gamewindow>
  <app-game-warning-modal
    [gameWarningClosed]="gameWarningClosed"
    [warningText]="warningText"
    [proceedIcon]="proceedIcon"
    [routerPathHome]="warningConfirmedPath"
    (closeGameWarningModal)="toggleGameWarningModal()"
  ></app-game-warning-modal>
</div>
</ng-template>
<ng-template [ngIf]="game.getGame().gameWon">
  <div class="min-h-screen w-full vector-bg  grid place-content-center">
    
  </div>
</ng-template>
<ng-template [ngIf]="game.getGame().lost">
  <div class="min-h-screen w-full vector-bg  grid place-content-center">
    <div class="text-light rounded pb-8 gradient-2">
      <div class="medium rounded-t p-4">
        <h2 class="m-auto font-bold w-max text-2xl border-light text-white rounded p-1 mb-4 logo-bg">
          <span class="text-3xl font-black text-light">F</span>ind the
          <span class="text-3xl font-black text-light">P</span>airs
          <span class="text-3xl text-light font-black"> ||</span
          >
        </h2>
      </div>
      <div class="p-8 pt-4">
        <div class="font-bold text-xl text-white rounded p-2 mb-8">
          <div class="text-center mb-2">
            <span class="material-icons text-5xl font-bold text-darker animate-pulse">
            sentiment_very_dissatisfied
            </span>
          </div>
          Sorry the game was lost
        
        </div>
        
        <button class="box-shadow m-auto text-white font-bold my-3 dark rounded block w-full py-3 hover-light hover-text-darkest transition-all duration-700">
          New Game 
          <span class="material-icons align-middle">
            play_circle
          </span></button>
        <button class="box-shadow m-auto text-white font-bold my-3 dark rounded block w-full py-2 hover-light hover-text-darkest transition-all duration-700">
          Return Home
          <span class="material-icons align-middle">
            home
          </span>
        </button>
      </div>
  
    </div>
   
  </div>
</ng-template>
