<div
  [ngClass]="{ hidden: homeModalHidden }"
  class="grid rounded dark box-shadow-2 border-light"
>
  <h3 class="font-bold text-center text-2xl text-white darker rounded-tl p-3 mb-4">
    {{title}}
  </h3>

  <ng-template [ngIf]="template === 'bestScores'">
      <app-best-scores></app-best-scores>
  </ng-template>
  <ng-template [ngIf]="template === 'leaderBoard'">
    <app-leader-board></app-leader-board>
  </ng-template>
  <ng-template [ngIf]="template === 'howToPlay'">
    <app-how-to-play></app-how-to-play>
  </ng-template>
  <ng-template [ngIf]="template === 'settings'">
    <app-settings></app-settings>
  </ng-template>

  <button
    class="
      text-white text-right
      font-bold
      rounded
      mt-2
      mr-2
      cursor-default
    "
  >
    <span
      id="closeHomeModal"
      (click)="closeBestScoresClick()"
      class="material-icons text-5xl cursor-pointer hover-text-darkest"> 
      close 
    </span>
  </button>
</div>
