<div class="gradient text-center">
    <h1 class="font-black text-3xl text-center py-4">Find The Pairs 2</h1>
    <div class="text-center m-auto py-4">
    <button class="py-2 block text-center w-full">Start Game</button>
    <button class="py-2 block text-center w-full">Sound</button>
    <button class="py-2 block text-center w-full">How To Play</button>
    <button class="py-2 block text-center w-full">Leader Board</button>
    <button class="py-2 block text-center w-full">Your Best Scores</button>
</div>
</div>
