<div class="dark h-max w-full rounded grid grid-cols-12 border-8 border-light px-2 sm:px-8 pb-8">
    <app-timer class="col-span-6 order-1 md:order-none md:col-span-3 text-center"></app-timer>
    <div class="col-span-6 order-4 md:order-none md:col-span-3 text-center sm:text-right mx-2">
        <button (click)="openReturnHome()" class="mt-4 text-base box-shadow font-bold medium text-white py-2 px-3 w-full rounded hover-text-darkest hover-light transition-all duration-700">
            <span class="material-icons align-bottom ml-1">
                home
            </span>
        </button>
    </div>
    <div class="col-span-6 order-5 md:order-none md:col-span-3 text-center sm:text-left mx-2">
        <button (click)="openRestart()" class="mt-4 text-base box-shadow font-bold text-white py-2 px-3 w-full rounded medium hover-text-darkest hover-light transition-all duration-700">
            <span class="material-icons align-bottom ml-1">
                restart_alt
            </span>
        </button>
    </div>
    <app-score class="col-span-6 order-3 md:order-none md:col-span-3 text-right"></app-score> 
    <app-cardwindow class="col-span-12 order-last h-full mt-3"></app-cardwindow>
</div>
