<div class="dark min-h-full w-full rounded grid grid-cols-12 border-8 border-light px-2 sm:px-8 pb-8">
    <app-timer class="col-span-4 order-1 sm:order-none sm:col-span-3 text-center"></app-timer>
    <div class="col-span-12 order-4 sm:order-none sm:col-span-3 text-center sm:text-right mx-2">
        <button (click)="openReturnHome()" class="mt-4 box-shadow font-bold medium text-white py-2 px-3 w-1/2 sm:w-full rounded hover-text-darkest hover-light transition-all duration-700">Home
            <span class="material-icons align-bottom ml-1">
                home
            </span>
        </button>
    </div>
    <div class="col-span-12 order-5 sm:order-none sm:col-span-3 text-center sm:text-left mx-2">
        <button class="mt-4 box-shadow font-bold text-white py-2 px-3  w-1/2 sm:w-full  rounded darkest hover-text-darkest hover-light transition-all duration-700">Restart Game
            <span class="material-icons align-bottom ml-1">
                restart_alt
            </span>
        </button>
    </div>
    <app-score class="col-span-4 order-3 sm:order-none sm:col-span-3 text-right"></app-score>
    <div class="col-span-4 order-2 sm:order-none sm:col-span-12 py-4 m-auto text-center">
        <h2 class="text-white font-bold border-2 border-light rounded p-1 logo-bg">
          <span></span><span class="text-3xl xl:text-4xl font-black text-light">F</span>ind the
          <span class="text-3xl xl:text-4xl font-black text-light">P</span>airs
          <span class="text-xl xl:text-2xl"> ||</span>
        </h2>
    </div>
    <app-cardwindow class="col-span-12 order-last sm:order-none h-full mt-3"></app-cardwindow>
</div>
