@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    scroll-behavior: smooth;
  }

body {
    padding: 0;
    margin: 0;
    font-family: 'Genos', sans-serif;
    font-family: 'Montserrat Alternates', sans-serif;
}

#home-bg, #game-bg {
    min-height: 100vh;
    background: url("./assets/images/6230956.jpg") center no-repeat;
    background-size: cover;
}

#cardw-bg, .logo-bg {
    background: url("./assets/images/6230956.jpg") center no-repeat;
    background-size: cover;
}

/* width */
::-webkit-scrollbar {
    width: 16px;
  }
  
  ::-webkit-scrollbar-track {
    background:#fff;
   
  }

  ::-webkit-scrollbar-track:hover {
   
  }


#how-to-text::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 6px;
}

#how-to-text::-webkit-scrollbar-thumb {
    background-color: #242e5c;
    border-radius: 6px;
  }

#how-to-text::-webkit-scrollbar-thumb:hover {
    background: #4b5ed0;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #242e5c;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #4b5ed0;
  }

/*Colors*/

.light {
    background-color: #4b5ed0;
}

.medium {
    background-color: #242e5c;
}

.dark {
    background-color: #1d2446;
}

.darker {
    background-color: #10141f;
}

.darkest {
    background-color: #06070d;
}

.gradient {
    background: linear-gradient(to right, #4b5ed0, #242e5c, #242e5c, #4b5ed0);
}

.gradient-2 {
    background: linear-gradient(to right, #242e5c, #4b5ed0, #4b5ed0, #242e5c);
}

.text-lightest {
    color: #475acc;
}

.text-light {
    color: #4b5ed0;
}

.text-medium {
    color: #242e5c;
}

.text-dark {
    color: #1d2446;
}

.text-darker {
    color: #10141f;;
}

.text-darkest {
    color: #06070d;
}

.border-light {
    border-color: #4b5ed0;
}

.border-medium {
    border-color: #242e5c;
}

.border-dark {
    border-color: #1d2446;
}

.border-darker {
    border-color: #10141f;;
}

.border-darkest {
    border-color: #06070d;
}

.hover-light:hover {
    background-color: #4b5ed0;
}

.hover-medium:hover {
    background-color: #242e5c;
}

.hover-dark:hover {
    background-color: #1d2446;
}

.hover-darker:hover {
    background-color: #10141f;
}

.hover-darkest:hover {
    background-color: #06070d;
}

.hover-text-light:hover {
    color: #4b5ed0;
}

.hover-text-medium:hover {
    color: #242e5c;
}

.hover-text-dark:hover {
    color: #1d2446;
}

.hover-text-darker:hover {
    color: #10141f;;
}

.hover-text-darkest:hover {
    color: #06070d;
}

/*Utilities*/

.center-abs-xy {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.center-fixed-x {
    left: 50%;
    transform: translateX(-50%);
}

/*Other*/

.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.box-shadow-2 {
    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
}

.perspective {
    box-sizing: border-box;
    perspective: 1000px;
}

.perspective-inner {
    transition: transform;
    transition-duration: 1400ms;
    transform: perspective(60em) rotateY(40deg);
}

.perspective-inner-turn {
    transition: transform;
    transition-duration: 1400ms;
    transform: perspective(60em) rotateY(-180deg);
}
