<div class="center-abs-xy h-full w-full light opacity-50" [ngClass]="{'hidden': gameWarningClosed}">
</div>
<div class="center-abs-xy w-5/6 sm:w-4/6 md:w-3/6 lg:w-2/6 xl:w-1/5 rounded medium text-white font-bold text-center pb-5 box-shadow-2" [ngClass]="{'hidden': gameWarningClosed}">
    <h3 class="block darker py-3 rounded-t">
        WARNING <span class="material-icons align-bottom ml-2 text-red-500 animate-pulse">warning</span>
    </h3>
    <div class="px-6">
        <p class="my-6 mx-2 font-normal">{{ warningText }}</p>
        <ng-template [ngIf]="routerPathHome">
            <a routerLink="/" (mouseover)="animateProceedButton()" (mouseout)="animateProceedButton()" class="cursor-pointer block w-full font-bold py-3 my-3 rounded darkest hover-text-darkest hover-light transition-colors duration-700 duration-500 ">
                Understood
                <span [ngClass]="{'transform rotate-[360deg] transition-transform duration-1000': proceedButtonHovered}" class="material-icons align-bottom ml-2">
                    {{proceedIcon }}
                </span>
            </a>
        </ng-template>
        <ng-template [ngIf]="!routerPathHome">
            <button (click)="closeGameWarning()" (mouseover)="animateProceedButton()" (mouseout)="animateProceedButton()" class="cursor-pointer block w-full font-bold py-3 my-3 rounded darkest hover-text-darkest hover-light transition-colors duration-700 duration-500 ">
                Understood
                <span [ngClass]="{'transform rotate-[360deg] transition-transform duration-1000': proceedButtonHovered}" class="material-icons align-bottom ml-2">
                    {{proceedIcon }}
                </span>
            </button>
        </ng-template>
       
        <button (click)="closeGameWarning()" (mouseover)="animateCancelButton()" (mouseout)="animateCancelButton()" class="block w-full font-bold py-3 dark my-3 rounded hover-text-darkest hover-light transition-all duration-700">
            Cancel
            <span [ngClass]="{'transform rotate-[360deg] transition-transform duration-1000': cancelButtonHovered}" class="material-icons align-bottom ml-2">
                close
            </span>
        </button>
    </div>
</div>

